@import "mixins";

#post {
	img.about {
		width: 30px;
		float:none;
	}
	&.toc {
		ul {
			list-style: none;
			li {
				margin-left: 4em; 
				.date {
					.monospace;
					.font-size(14)
				}
				.title {
					.font-size(18);
					.serif;
				}
			}
		}
		h2, h3, h4 {
			padding: 0;
			margin: 0;
		}
		h2 { margin-left: .5em; }
		h3 {
			margin-left: 2em;
		}
		p {
			padding-top: 1em;
			margin-bottom: .5em;
		}
	}
	&.about {
		img {
			float: right;
			max-width: 30%;
			.rounded;
			padding-left: .5em;
		}
	}
}

