---
layout: default
---
<div id="post" class="toc">
<p>This is a reverse-chronological order of every single post on this blog. Nothing more, and nothing less:</p>
{% assign month = '' %}
{% assign year = '' %}
{% for post in site.posts %}
	<!-- {{month}} {{year}} !-->
	{% capture tmonth %}{{post.date | date: '%m'}}{% endcapture %}
	{% capture tyear %}{{post.date | date: '%Y'}}{% endcapture %}
	{% if month != tmonth %}
		{% if month != '' %}
			</ul>
		{% endif %}
		{% if year != tyear %}
			<h2>{{tyear}}</h2>
		{% endif %}
		<ul>
		<h3>{{post.date | date: '%B'}}</h3>	
		{% capture month %}{{post.date | date: '%m'}}{% endcapture %}
		{% capture year %}{{post.date | date: '%Y'}}{% endcapture %}
	{% endif %}
 		<li><span class="date">{{post.date | date: '%m.%d.%y' }}</span> <a href="{{post.url}}"><span class="title">{{post.title}}</span></a></li>
{% endfor %}
</div>