---
layout: default
---
<div id="post" class="toc">
{% assign month = '' %}
{% assign year = '' %}
{% for post in site.posts %}
	{% if month != post.date | date: '%m' %}
		{% if month != '' %}
			</ul>
		{% endif %}
		{% if year != post.date | date: '%Y' %}
			{% assign year = post.date | date: '%Y' %}
			<h2>{{ post.date | date: '%Y' }}</h2>
		{% endif %}
		<ul>
		<h3>{{post.date | date: "%B"}}</h3>	
		{% assign month = post.date | date: '%m' %}
	{% endif %}
 		<li><span class="date">{{post.date | date: '%m.%d.%y' }}</span> <a href="{{post.url}}"><span class="title">{{post.title}}</span></a></li>
{% endfor %}
</div>